---
layout: default
---
<div class="content" role="main">

  {% include pagination.html %}

  <div class="post">

  {% for post in paginator.posts %}

  <div class="title"><a href="{{ post.url }}">{{ post.title }}</a></div>
  <div class="postdet"><span class="date">{{ post.date | date: "%b %d, %Y" }}</span> &bullet; <span><a class="icon-tt tweetThis" href="#"></a><input class="shorty" type="text" value="{{ post.url | shorten }}"></span></div>
       
  {% if post.image %} 
  <div class="post-img">
      <img src="{{ site.baseurl }}{{ post.image }}" alt="">
  </div>
  {% endif %}
  {{ post.content }}
  
  {% endfor %}
  </div>  

  {% include pagination.html %}

  <div class="bullet"></div>
</div>
