/* Reset =================================================== */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

/* Variables =================================================== */
/* Mixins =================================================== */
/* Typography =================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  margin: 0;
  font-family: inherit;
  font-weight: normal;
  color: black;
  text-rendering: optimizelegibility; }

h1 small,
h2 small {
  font-weight: normal;
  color: #bfbfbf; }

h1,
.h1 {
  margin-top: 0.85em;
  margin-bottom: 0.85em;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2; }

h2,
.h2 {
  margin-top: 0.85em;
  margin-bottom: 0.85em;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2; }

h3,
.h3 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.3; }

h4,
.h4 {
  margin-top: 1.7em;
  margin-bottom: 1.7em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25; }

h5,
.h5 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-top: 1.7em;
  margin-bottom: 1.7em; }

h6,
.h6 {
  margin-top: 1.7em;
  margin-bottom: 1.7em;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase; }

.header h1,
.header h2,
.header h3 {
  float: left;
  margin-right: 24px; }
  .header h1 a,
  .header h2 a,
  .header h3 a {
    color: #c26766;
    display: block;
    position: relative;
    top: 6px;
    float: right;
    padding: 4px 12px;
    font-size: 14px;
    font-size: 1.4rem;
    -webkit-transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -ms-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
    transition: all 1s ease-in-out 0s;
    background-color: #000; }
  .header h1 a:visited,
  .header h2 a:visited,
  .header h3 a:visited {
    color: #c26766; }
  .header h1:hover,
  .header h2:hover,
  .header h3:hover {
    background-color: white; }

.header .a-rss,
.header .a-rss:hover {
  float: left;
  width: 16px;
  height: 16px;
  padding: 0;
  background: transparent url(../img/a-rss.png) no-repeat 0 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

p,
ol,
ul,
dl,
address {
  margin-bottom: 1.7em;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.7em; }

small {
  font-size: 14px;
  font-size: 1.4rem; }

ul,
ol {
  margin: 0 0 1.7em -24px;
  padding: 0 0 0 24px; }

li ul,
li ol {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem; }

blockquote {
  margin: 0 0 1.7em -24px;
  padding-left: 24px;
  border-left: 2px solid white;
  font-family: Cambria, Georgia, Times, "Times New Roman";
  font-style: normal; }

q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

cite {
  font-style: normal; }

dl,
dd {
  margin-bottom: 1.7em; }

dt {
  font-weight: bold; }

.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right; }
.dl-horizontal dd {
  margin-left: 22.78%; }

abbr[title] {
  border-bottom: 1px dotted white;
  cursor: help; }

b, strong {
  color: black;
  font-weight: normal; }

dfn {
  font-style: italic; }

ins {
  background-color: white;
  color: #363636;
  text-decoration: none; }

mark {
  background-color: white;
  color: #363636;
  font-style: italic;
  font-weight: bold; }

pre,
code,
kbd,
samp {
  font-family: Monaco, "Droid Sans Mono", Courier New, monospace; }

pre {
  white-space: pre; }

sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  vertical-align: baselineheight; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Colour =================================================== */
a {
  text-decoration: none;
  color: #c26766;
  border: 0; }
  a:visited {
    font-style: italic; }
  a:focus {
    outline: none; }
  a:hover, a:active {
    outline: 0;
    border-bottom: 1px dotted #4d4d4d; }
  a:active {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }

::-moz-selection {
  background-color: #f1f1d3;
  text-shadow: none; }

::selection {
  background-color: #f1f1d3;
  text-shadow: none; }

.swatch {
  margin: 0 0 1.7em 0;
  padding: 0; }

.swatch-row {
  display: block;
  margin: 0;
  padding: 0;
  width: 200px; }

.swatch-row-one {
  background-color: black; }

.swatch-row-two {
  background-color: white; }

.swatch-row span {
  display: block;
  float: left;
  width: 50px;
  height: 50px; }

.bg-swatch2 {
  background: #c26766; }

.swatch-base span:nth-child(1) {
  background-color: rgba(153, 153, 153, 0.9); }

.swatch-base span:nth-child(2) {
  background-color: rgba(153, 153, 153, 0.8); }

.swatch-base span:nth-child(3) {
  background-color: rgba(153, 153, 153, 0.7); }

.swatch-base span:nth-child(4) {
  background-color: rgba(153, 153, 153, 0.6); }

.swatch-alert span:nth-child(1) {
  background-color: rgba(252, 248, 227, 0.9); }

.swatch-alert span:nth-child(2) {
  background-color: rgba(252, 248, 227, 0.8); }

.swatch-alert span:nth-child(3) {
  background-color: rgba(252, 248, 227, 0.7); }

.swatch-alert span:nth-child(4) {
  background-color: rgba(252, 248, 227, 0.6); }

.swatch-error span:nth-child(1) {
  background-color: rgba(218, 79, 73, 0.9); }

.swatch-error span:nth-child(2) {
  background-color: rgba(218, 79, 73, 0.8); }

.swatch-error span:nth-child(3) {
  background-color: rgba(218, 79, 73, 0.7); }

.swatch-error span:nth-child(4) {
  background-color: rgba(218, 79, 73, 0.6); }

.swatch-info span:nth-child(1) {
  background-color: rgba(217, 237, 247, 0.9); }

.swatch-info span:nth-child(2) {
  background-color: rgba(217, 237, 247, 0.8); }

.swatch-info span:nth-child(3) {
  background-color: rgba(217, 237, 247, 0.7); }

.swatch-info span:nth-child(4) {
  background-color: rgba(217, 237, 247, 0.6); }

.swatch-success span:nth-child(1) {
  background-color: rgba(91, 183, 91, 0.9); }

.swatch-success span:nth-child(2) {
  background-color: rgba(91, 183, 91, 0.8); }

.swatch-success span:nth-child(3) {
  background-color: rgba(91, 183, 91, 0.7); }

.swatch-success span:nth-child(4) {
  background-color: rgba(91, 183, 91, 0.6); }

.swatch-warning span:nth-child(1) {
  background-color: rgba(250, 167, 50, 0.9); }

.swatch-warning span:nth-child(2) {
  background-color: rgba(250, 167, 50, 0.8); }

.swatch-warning span:nth-child(3) {
  background-color: rgba(250, 167, 50, 0.7); }

.swatch-warning span:nth-child(4) {
  background-color: rgba(250, 167, 50, 0.6); }

@font-face {
  font-family: "Entypo";
  src: url("../f/entypo.eot");
  src: url("../f/entypo.eot?#iefix") format("embedded-opentype"), url("../f/entypo.woff") format("woff"), url("../f/entypo.ttf") format("truetype"), url("../f/entypo.svg#Entypo") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "EntypoSo";
  src: url("../f/entypo-social.eot");
  src: url("../f/entypo-social.eot?#iefix") format("embedded-opentype"), url("../f/entypo-social.woff") format("woff"), url("../f/entypo-social.ttf") format("truetype"), url("../f/entypo-social.svg#EntypoSo") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"],
[class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0 0;
  background-repeat: repeat; }

li[class^="icon-"],
li[class*=" icon-"] {
  display: block; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "Entypo", "EntypoSo";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit; }

a [class^="icon-"],
a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit; }

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 4/3em; }

.btn [class^="icon-"],
.btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em; }

li [class^="icon-"],
li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center; }
li .icon-large[class^="icon-"],
li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */
  width: 1.875em; }

li[class^="icon-"],
li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none; }
  li[class^="icon-"]:before,
  li[class*=" icon-"]:before {
    text-indent: -2em;
    text-align: center; }
  li[class^="icon-"].icon-large:before,
  li[class*=" icon-"].icon-large:before {
    text-indent: -4/3em; }

.icon-home:before {
  content: "\2302"; }

.icon-tt:before {
  content: "\F309"; }

.icon-book:before {
  content: "\1F4D5"; }

.icon-left-arrow:before {
  content: "\E75D"; }

.icon-right-arrow:before {
  content: "\E75E"; }

_:-o-prefocus.icon-tt:before, [class^="icon-"].icon-tt:before, [class*=" icon-"].icon-tt:before {
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Varela", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  content: "Share this on Twitter"; }

/* Page =================================================== */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

@font-face {
  font-family: "Varela";
  src: url("../f/varela.eot");
  src: url("../f/varela.eot?#iefix") format("embedded-opentype"), url("../f/varela.woff") format("woff"), url("../f/varela.ttf") format("truetype"), url("../f/varela.svg#Varela") format("svg");
  font-weight: normal;
  font-style: normal; }

hr {
  height: 2px;
  border: 0;
  background: url("../i/hr.png") 0 0 repeat-x; }

html, body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased; }

html {
  background: #f7f7e6;
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.header {
  border-top: 5px solid #c26766; }
  .header .logo {
    width: 5.5em;
    height: 5.5em;
    margin: -5px auto;
    text-align: center;
    position: relative;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(black), to(#4d4d4d));
    background-image: -webkit-linear-gradient(top, black, #4d4d4d);
    background-color: #4d4d4d;
    background-image: -moz-linear-gradient(top, black, #4d4d4d);
    background-image: -ms-linear-gradient(top, black, #4d4d4d);
    background-image: -o-linear-gradient(top, black, #4d4d4d);
    background-image: linear-gradient(top, black, #4d4d4d);
    background-repeat: repeat-x;
    -webkit-box-shadow: 0 7px 0 #232323;
    -moz-box-shadow: 0 7px 0 #232323;
    box-shadow: 0 7px 0 #232323; }
    .header .logo a.home, .header .logo a.home:active {
      width: 100%;
      height: 100%;
      display: block;
      cursor: pointer;
      background: url("../i/logo.png") center 70% no-repeat; }
      @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
        .header .logo a.home, .header .logo a.home:active {
          /* on retina, use image that's scaled by 2 */
          background-image: url("../i/logo@2x.png");
          background-size: 48px 42px; } }
      .header .logo a.home .icon-home, .header .logo a.home:active .icon-home {
        top: -5px;
        left: 32%;
        padding: 0 10px;
        margin: 0 auto;
        color: white;
        font-size: 30px;
        font-size: 3rem;
        position: absolute; }
      .header .logo a.home:hover, .header .logo a.home:active:hover {
        border-bottom: none; }
    .header .logo span {
      display: block;
      line-height: 0;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden; }
  .header .intro-journal {
    width: 90%;
    line-height: 1.1em;
    font-size: 30px;
    font-size: 3rem;
    margin: 35px auto 0; }
    .header .intro-journal small {
      color: gray;
      display: block;
      line-height: 20px;
      margin: 25px 10% 0;
      font-size: 14px;
      font-size: 1.4rem; }

body {
  margin: 0;
  height: 100%;
  position: relative;
  text-align: center;
  font-family: "Varela", "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  background: url("../i/bg.jpg") 0 0 repeat;
  line-height: 1.7em;
  color: #363636; }

.footer {
  width: 100%;
  bottom: 0;
  height: 100%;
  padding: 30px 0;
  margin: 50px auto 0;
  background: #363636;
  position: relative; }
  .footer .placer {
    *zoom: 1;
    width: 90%;
    margin: 0 auto;
    color: #bfbfbf; }
    .footer .placer:before, .footer .placer:after {
      display: table;
      content: ""; }
    .footer .placer:after {
      clear: both; }
    .footer .placer .footheading {
      margin: 0 0 1em;
      line-height: 24px;
      font-size: 24px;
      font-size: 2.4rem; }
    .footer .placer p {
      line-height: 1.3em; }
    .footer .placer .left {
      width: 100%;
      text-align: left; }
      .footer .placer .left ul {
        list-style-type: none; }
        .footer .placer .left ul li {
          margin: 0 0 20px;
          line-height: 1.3em; }
      .footer .placer .left small {
        color: #636363;
        display: block;
        font-size: 12px;
        font-size: 1.2rem; }
    .footer .placer .right {
      width: 100%;
      text-align: left; }
      .footer .placer .right p small {
        font-size: 10px;
        margin: 0 0 0 10px; }
        .footer .placer .right p small a {
          color: #636363;
          border-bottom: 1px dotted #4d4d4d; }
          .footer .placer .right p small a:hover {
            color: gray; }

.content {
  width: 90%;
  margin: 0 auto;
  position: relative; }

.post {
  margin: 0 auto 2%;
  -webkit-transition: all 1s ease-in-out 0s;
  -moz-transition: all 1s ease-in-out 0s;
  -ms-transition: all 1s ease-in-out 0s;
  -o-transition: all 1s ease-in-out 0s;
  transition: all 1s ease-in-out 0s; }
  .post p {
    text-align: justify;
    font-size: 16px;
    font-size: 1.6rem; }
  .post .title {
    margin: 0 auto 15px;
    color: #c26766;
    font-size: 24px;
    font-size: 2.4rem; }
    .post .title a, .post .title a:visited {
      font-style: normal; }
  .post .postdet {
    color: #bfbfbf;
    line-height: 1em;
    vertical-align: middle;
    font-size: 13px;
    font-size: 1.3rem;
    margin: 0 0 30px; }
    .post .postdet a {
      color: gray; }
      .post .postdet a:active {
        border: 0; }
    .post .postdet span {
      color: gray;
      margin: 0 0.5em; }
  .post.entry {
    margin: 20px auto; }

.bullet {
  height: 6px;
  width: 6px;
  margin: 4% auto 0;
  background: gray;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(gray), to(#bfbfbf));
  background-image: -webkit-linear-gradient(top, gray, #bfbfbf);
  background-color: #bfbfbf;
  background-image: -moz-linear-gradient(top, gray, #bfbfbf);
  background-image: -ms-linear-gradient(top, gray, #bfbfbf);
  background-image: -o-linear-gradient(top, gray, #bfbfbf);
  background-image: linear-gradient(top, gray, #bfbfbf);
  background-repeat: repeat-x;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .bullet.dark {
    margin: 10px 0 25px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d4d4d), to(gray));
    background-image: -webkit-linear-gradient(top, #4d4d4d, gray);
    background-color: gray;
    background-image: -moz-linear-gradient(top, #4d4d4d, gray);
    background-image: -ms-linear-gradient(top, #4d4d4d, gray);
    background-image: -o-linear-gradient(top, #4d4d4d, gray);
    background-image: linear-gradient(top, #4d4d4d, gray);
    background-repeat: repeat-x; }

a[class^="icon-"] {
  line-height: 6px;
  margin: 0 5px;
  font-size: 30px;
  font-size: 3rem; }
  a[class^="icon-"]:hover {
    color: #4d4d4d;
    border: none; }
  a[class^="icon-"] span {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0; }
    a[class^="icon-"] span.focusable:active, a[class^="icon-"] span.focusable:focus {
      position: static;
      clip: auto;
      height: auto;
      width: auto;
      margin: 0;
      overflow: visible; }

.cpagination {
  margin: 0;
  padding: 0;
  line-height: 72px;
  *zoom: 1;
  list-style-type: none; }
  .cpagination:before, .cpagination:after {
    display: table;
    content: ""; }
  .cpagination:after {
    clear: both; }
  .cpagination li {
    width: 50%;
    float: left;
    display: block;
    text-align: left; }
    .cpagination li [class^="icon-"]:before,
    .cpagination li [class*=" icon-"]:before {
      font-family: "Entypo"; }
    .cpagination li [class^="icon-"],
    .cpagination li [class*=" icon-"] {
      width: 0.5em;
      margin: 0;
      color: #bfbfbf;
      font-size: 72px;
      font-size: 7.2rem;
      line-height: 72px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      -webkit-transition: background 0.5s ease-in-out 0s;
      -moz-transition: background 0.5s ease-in-out 0s;
      -ms-transition: background 0.5s ease-in-out 0s;
      -o-transition: background 0.5s ease-in-out 0s;
      transition: background 0.5s ease-in-out 0s; }
      .cpagination li [class^="icon-"]:hover,
      .cpagination li [class*=" icon-"]:hover {
        color: white;
        background: #363636; }
      .cpagination li [class^="icon-"].disabled,
      .cpagination li [class*=" icon-"].disabled {
        color: #e6e6e6;
        cursor: pointer;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none; }
        .cpagination li [class^="icon-"].disabled:hover, .cpagination li [class^="icon-"].disabled:active, .cpagination li [class^="icon-"].disabled:focus,
        .cpagination li [class*=" icon-"].disabled:hover,
        .cpagination li [class*=" icon-"].disabled:active,
        .cpagination li [class*=" icon-"].disabled:focus {
          cursor: default;
          background: 0;
          border: 0;
          outline: 0; }
  .cpagination li:nth-child(2) {
    text-align: right; }
  .cpagination span {
    display: none !important;
    visibility: hidden; }

p > code {
  font-size: 12px;
  font-size: 1.2rem;
  padding: 2px 3px;
  color: #bfbfbf;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #363636; }

.archives {
  margin: 30px auto 0; }
  .archives h2 {
    text-align: center; }
  .archives h4 {
    color: gray;
    margin: 30px 0 10px 0; }
  .archives span {
    color: #bfbfbf; }
  .archives .list {
    margin: 30px; }

ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: table;
  list-style-type: none; }
  ul li {
    margin: 0 0 15px 0; }
  ul span {
    width: 80%;
    text-align: left;
    display: inline-table; }
  ul .dated {
    width: 20%;
    color: gray;
    text-align: right;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top; }
  ul a {
    text-align: left;
    display: inline; }

.highlight {
  text-align: left;
  line-height: 1.4em;
  padding: 10px;
  font-size: 12px;
  font-size: 1.2rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #363636;
  overflow: scroll;
  color: #d0d0d0; }
  .highlight ::selection {
    background: #292929; }
  .highlight .hll {
    background-color: #404040; }
  .highlight .c {
    color: #999999;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .g {
    color: #d0d0d0; }
  .highlight .k {
    color: #6ab825;
    font-weight: bold; }
  .highlight .l, .highlight .n, .highlight .o, .highlight .x, .highlight .p {
    color: #d0d0d0; }
  .highlight .cm {
    color: #999999;
    font-style: italic; }
  .highlight .cp {
    color: #cd2828;
    font-weight: bold; }
  .highlight .c1 {
    color: #999999;
    font-style: italic; }
  .highlight .cs {
    color: #e50808;
    font-weight: bold;
    background-color: #520000; }
  .highlight .gd {
    color: #d22323; }
  .highlight .ge {
    color: #d0d0d0;
    font-style: italic; }
  .highlight .gr {
    color: #d22323; }
  .highlight .gh {
    color: #ffffff;
    font-weight: bold; }
  .highlight .gi {
    color: #589819; }
  .highlight .go {
    color: #cccccc; }
  .highlight .gp {
    color: #aaaaaa; }
  .highlight .gs {
    color: #d0d0d0;
    font-weight: bold; }
  .highlight .gu {
    color: #ffffff; }
  .highlight .gt {
    color: #d22323; }
  .highlight .kc, .highlight .kd, .highlight .kn {
    color: #6ab825;
    font-weight: bold; }
  .highlight .kp {
    color: #6ab825; }
  .highlight .kr, .highlight .kt {
    color: #6ab825;
    font-weight: bold; }
  .highlight .ld {
    color: #d0d0d0; }
  .highlight .m {
    color: #3677a9; }
  .highlight .s {
    color: #ed9d13; }
  .highlight .na {
    color: #bbbbbb; }
  .highlight .nb {
    color: #24909d; }
  .highlight .nc {
    color: #447fcf; }
  .highlight .no {
    color: #40ffff; }
  .highlight .nd {
    color: #ffa500; }
  .highlight .ni {
    color: #d0d0d0; }
  .highlight .ne {
    color: #bbbbbb; }
  .highlight .nf {
    color: #447fcf; }
  .highlight .nl {
    color: #d0d0d0; }
  .highlight .nn {
    color: #447fcf; }
  .highlight .nx, .highlight .py {
    color: #d0d0d0; }
  .highlight .nt {
    color: #6ab825;
    font-weight: bold; }
  .highlight .nv {
    color: #40ffff; }
  .highlight .ow {
    color: #6ab825;
    font-weight: bold; }
  .highlight .w {
    color: #666666; }
  .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
    color: #3677a9; }
  .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .se, .highlight .sh, .highlight .si {
    color: #ed9d13; }
  .highlight .sx {
    color: #ffa500; }
  .highlight .sr, .highlight .s1, .highlight .ss {
    color: #ed9d13; }
  .highlight .bp {
    color: #24909d; }
  .highlight .vc, .highlight .vg, .highlight .vi {
    color: #40ffff; }
  .highlight .il {
    color: #3677a9; }

/* Comment */
/* Error */
/* Generic */
/* Keyword */
/* Literal */
/* Name */
/* Operator */
/* Other */
/* Punctuation */
/* Comment.Multiline */
/* Comment.Preproc */
/* Comment.Single */
/* Comment.Special */
/* Generic.Deleted */
/* Generic.Emph */
/* Generic.Error */
/* Generic.Heading */
/* Generic.Inserted */
/* Generic.Output */
/* Generic.Prompt */
/* Generic.Strong */
/* Generic.Subheading */
/* Generic.Traceback */
/* Keyword.Constant */
/* Keyword.Declaration */
/* Keyword.Namespace */
/* Keyword.Pseudo */
/* Keyword.Reserved */
/* Keyword.Type */
/* Literal.Date */
/* Literal.Number */
/* Literal.String */
/* Name.Attribute */
/* Name.Builtin */
/* Name.Class */
/* Name.Constant */
/* Name.Decorator */
/* Name.Entity */
/* Name.Exception */
/* Name.Function */
/* Name.Label */
/* Name.Namespace */
/* Name.Other */
/* Name.Property */
/* Name.Tag */
/* Name.Variable */
/* Operator.Word */
/* Text.Whitespace */
/* Literal.Number.Float */
/* Literal.Number.Hex */
/* Literal.Number.Integer */
/* Literal.Number.Oct */
/* Literal.String.Backtick */
/* Literal.String.Char */
/* Literal.String.Doc */
/* Literal.String.Double */
/* Literal.String.Escape */
/* Literal.String.Heredoc */
/* Literal.String.Interpol */
/* Literal.String.Other */
/* Literal.String.Regex */
/* Literal.String.Single */
/* Literal.String.Symbol */
/* Name.Builtin.Pseudo */
/* Name.Variable.Class */
/* Name.Variable.Global */
/* Name.Variable.Instance */
/* Literal.Number.Integer.Long */
@media only screen and (min-width: 480px) {
  .content {
    width: 60%; }

  .footer .placer {
    *zoom: 1;
    width: 60%;
    margin: 0 auto;
    color: #bfbfbf; }
    .footer .placer:before, .footer .placer:after {
      display: table;
      content: ""; }
    .footer .placer:after {
      clear: both; }
    .footer .placer .left {
      width: 25%;
      float: left;
      text-align: left; }
      .footer .placer .left small {
        color: #636363;
        display: block;
        font-size: 12px;
        font-size: 1.2rem; }

  .footheading {
    line-height: 20px;
    font-size: 24px;
    font-size: 2.4rem; }

  .footer .placer .right {
    width: 25%;
    float: right;
    text-align: right; }
    .footer .placer .right p small {
      font-size: 10px; }
      .footer .placer .right p small a {
        color: #636363;
        border-bottom: 1px dotted #4d4d4d; }
        .footer .placer .right p small a:hover {
          color: gray; }

  .bullet.dark {
    margin: 10px 90% 20px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4d4d4d), to(gray));
    background-image: -webkit-linear-gradient(top, #4d4d4d, gray);
    background-color: gray;
    background-image: -moz-linear-gradient(top, #4d4d4d, gray);
    background-image: -ms-linear-gradient(top, #4d4d4d, gray);
    background-image: -o-linear-gradient(top, #4d4d4d, gray);
    background-image: linear-gradient(top, #4d4d4d, gray);
    background-repeat: repeat-x; }

  ul li {
    margin: auto; }
  ul span {
    width: 50%; }
  ul .dated {
    width: 50%; } }
