<!DOCTYPE HTML>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<meta name="description" content="{{ site.author }} :: {{ site.title }}">
<meta name="author" content="{{ site.author }}">

<link rel="apple-touch-icon" href="{{ site.baseurl }}i/touchicon.png">
<link rel="shortcut icon" href="{{ site.baseurl }}favicon.ico" type="image/x-icon">


<link href="{{ site.baseurl }}c/styles.css" type="text/css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<title>{{ site.author }} :: {% if page.title %} {{ page.title }} {% else %} {{ site.title }} {% endif %}</title>

</head>