{% include header.html %}

{% include top_page.html %}

<div class="content" role="main">
	<div class="post entry">

	<div class="title single">{{ page.title }}</div>
	<div class="postdet"><span>{{ page.date | date: "%b %d, %Y" }}</span> &bullet; <span><a class="icon-tt tweetThis" href="#"></a><input class="shorty" type="text" value="{{ page.url | shorten }}"></span></div>
	
	{% if post.image %}        
	<div class="post-img">
		<img src="{{ site.baseurl }}{{ page.image }}" alt="">
	</div>
	{% endif %}
	{{ content }}

	</div>
</div>

{% include footer.html %}